@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.indexPage{
  height: 100vh !important;
}

.message-container{
  height: 75vh;
  background-color: lightgray;
  position: relative;
}

.message-input{
  width: 100%;
  bottom: 0;
  position: absolute;
}

.message{
  height: 70vh;
  overflow-y: scroll;
}
